{%extends 'index.html'%}

{%block holder%}
  <div class="container-fluid p-0">
    <div class="container-fluid col-12 text-center m-0"
      style="background:url('static/img/aboutUs.jpeg') fixed no-repeat;  background-size: cover;
      background-position: center; 
      height: 300px; ">
      <h1 class="text my-auto" style=" font-size:5rem; font-weight:bold; padding-top: 5%;"> About Us</h1>
    </div>
    {%endblock%}
    {%block content%}
    <div class="container row col-12 mx-auto py-5 text-center">
      <div class="col-lg-6 col-sm-12 my-auto">
        <h2 class="text">What do we do</h2>
        <p class="text fs-5">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, soluta?
        </p>
        <p class="text fs-5">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex hic quisquam nesciunt exercitationem minus omnis,
          nisi sequi, nam, iure ut fugit. Vel nostrum corporis incidunt officiis quasi, enim doloremque ipsum.
        </p>


      </div>
      <div class="col-lg-6 col-sm-12 text-center">
        <img src="../static/img/sport-removebg-preview.png" style="width:100%; height: 100%;" alt="">
      </div>

    </div>
<!-- our team -->
    <div class="col-md-12 col-sm-12">
      <h1 class="text fs-2 mb-5 text-center"> Our Team</h1>
      <div class="row text-center px-4 mx-auto">
        <div class="col-md-4 col-sm-12">
          <img src="../static/img/asish" style="width: 40%; height: 45%;border:2px solid white; border-radius: 50%;animation: bounce 0.8s  alternate;  " alt="">
          <h2 class="text pt-3">Asish Khandal</h2>
          <p class="text">App Developer</p>
        </div>
      

      <div class="col-md-4 col-sm-12">
        <img src="../static/img/hemanth" style="width: 40%; height: 45%;border:2px solid white; border-radius: 50%; animation: bounce 1.0s alternate; " alt="">
        <h2 class="text pt-3">Hemanth Lepcha</h2>
        <p class="text">App Developer | Human Resource</p>
      </div>


      <div class="col-md-4 col-sm-12">
        <img src="../static/img/pravaat" style="width: 40%; height: 45%; border: 3px solid white; border-radius: 50%; animation: bounce 1.2s alternate; " alt="">
        <h2 class="text pt-3 ">Pravaat Chhetri</h2>
        <p class="text">Software Developer</p>
      </div>
</div>

    </div>
<!-- end our team -->
    {%endblock%}

  </div>